.container-9 {
  margin-top: 3.1rem;
  margin-bottom: 3.6rem;
}
.site-header__top.footer {
  margin-bottom: 7.3rem;
}
.site-header__logo.footer {
  margin-right: 6.5rem;
}

.site-footer__copyright {
  display: flex;
}

.site-footer__copyright-text {
  font-size: 0.8rem;
  line-height: 1.25;

  padding-left: 1.18rem;
  padding-right: 6.6rem;
}

.site-footer__facebook {
  
  padding-right: 7.4rem;
}
.site-footer__facebook-icon {
  transition: 0.5s linear;
}
.site-footer__facebook-icon:hover {
  background-color: #3b5998;
  color: aliceblue;
  border-radius: 5px;
  
}

.site-header__bottom.footer {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.site-header__bottom.footer > div {
  margin-bottom: 1rem;  
}
.site-header__addres.footer {
  padding-right: 1.8rem;
  margin-right: 0;
}
.site-header__tel.footer {
  margin: 0;
  padding-right: 4.5rem;
}


.site-header {
  color: black;
  position: relative;
  z-index: 5;
  

  
}

.site-header__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 1.3rem;
  margin-top: 1.5rem;

  

  

  color: inherit;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.main-menu__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  

  
}
.main-menu__item {

}
.main-menu__item:last-child {
  margin-right: 0px;
}
.main-menu__link {
  
  color: inherit;

  font-size: 1rem;
  line-height: 1.1rem;
  text-decoration: none;

}


.site-header__bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.9rem;
  
}
.logo {
  margin-bottom: 1rem;

}
.site-header__logo {
  font-size: 3rem;
  line-height: 2.1rem;

  text-decoration: none;
  color: inherit;
}
.site-header__menu {
  font-size: 1rem;
  line-height: 0px;

  
width: 75%;
  text-decoration: none;
}

.footer-logo {
  width: 20%;
}
.main-menu__link {
  transition: 0.5s linear;
  
}
.main-menu__link:hover {
  color: #FF5900;
  
  
}

.site-header__addres {
  font-size: 14px;
  line-height: 1.25rem;

  margin-right: 5.25rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  
}
.site-header__addres a {
  text-decoration: none;
  color: inherit;
}
.site-header__addres-icon {
  padding-right: 1.25rem;
}
.site-header__tel-icon {
  padding-right: 15px;

}
.site-header__tel {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-right: 4.5rem;
  

  display: flex;
  align-items: center;

  text-decoration: none;
}

.site-header__email {
  font-size: 0.8rem;
  line-height: 1rem;

  text-decoration: none;

  padding-left: 2.1rem;
}

.site-header__btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
  background-color: #000;
  color: #ffffff;
  text-decoration: none;

  padding: 0.5rem 1.3rem;
  
  border-radius: 6px;
  position: relative;

  
  box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
  
  
  
  width: 11.1rem;
  height: 2.5rem;
  
  border: none;
  
  cursor: pointer;
  
}

.site-header__btn:after, .btn-buy:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  
}
.site-header__btn:after {
  
  
  border-top: 1.25rem solid transparent;
  border-left: 0.9rem solid #000;
  border-bottom: 1.25rem solid transparent;
  margin-top: -1.25rem;
  margin-left: -0.1rem;
  border-radius: 0.37rem;
  transition: 0.5s linear;
  
}
.site-header__btn:before {
  border-color: rgba(194, 225, 245, 0);
  
  border-width: 1.75rem;
  margin-top: 0px;
  border-radius: 6px;
}


.btn:hover {
  color: #FF5900;
}

.site-header__btn:hover {
  background-color: #FDBF0F;
  color: #000;
  transition: 0.5s linear;
}
.site-header__btn:hover::after {
  border-left: 0.93rem solid #FDBF0F; 
  transition: 0.5s linear;
}
.site-header__tel, .site-header__email, .site-header__addres a {
  color: inherit;
}

.site-header__tel:hover, .site-header__email:hover, .site-header__addres a:hover {
  color: #FF5900;
}