@media screen and (max-width: 1020px) {

	.site-header__top-bar {
		flex-flow: column wrap;
	}

	.menu {
		width: 100%;
	}

	.site-header__bottom-bar {
		justify-content: flex-start;
		margin-left: 20px;
	}

	.site-header-bottom-bar__container {
		width: 100%;
		justify-content: space-around;
	}

	.page-2__left-block {
		border:0px;
	}

}

@media screen and (max-width: 998px) {

	.page-4__box {
		flex-direction: column;
	}

	.page-4__left {
		border:0;
	}

	.page-4__left-bottom img {
		width: 100%;
	}

	.page-4__right-top {
		font-size: 0.9rem;
	}

	.page-4__bottom-icon-text:first-child {
		margin-right: 0;
	}

	.page-4__bottom-icon-text {
		width: 45%;
	}

	 .page-5__dots {
    display: none;
  }
  .page-5__box {
    justify-content: flex-end;
  }

  .page-5__dots-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 5;
    
  }
  .page-5__icon-text-2 {
    display: flex;
    
  }

  .process {
  	padding-left: 20px;
  }

  .page-8-form {
  	margin-right: 0;
  	margin-left: 0;
  }
}


@media screen and (max-width: 768px) {
	.site-header-bottom-bar__container {
		flex-direction: column;
	}

	.site-header-bottom__btn {
		margin-top: 20px;
	}

	.site-header-bottom__contacts {
		margin-top: 10px;
	}

	.menu__btn {
  		display: block;
	}
	.hamburger-menu {
		display:block;
	}
	.menu {
		display: none;
	}

	html {
 		 font-size: 14px;
  
	}

	.fs-description-block__fs-title {
		text-align: center;
	}

	.fs-description-block {
		width: 90%;
	}

	.fs-description-block__logo img {
		width: 100%;
	}

	.screen2__tag {
		display: none;
	}

	.page-2__left-block {
		padding-left: 20px;
	}

	.page-2__left-img img {
		width: 100%;
	}

	.page-2__right-block {
		padding: 0 20px;
	}

	.page-2__right-img {
		margin-right: 2rem;
	}

	.page-2__left-block {
		margin-right: 4rem;
	}

	.page-2__left-text {
		margin-top: 2rem;
	}

	.page-3__box {
		padding-left: 20px;
		padding-right: 20px;
	}

	.page-3__box-top {
		margin-bottom:0;
	}

	.page-3__w-box {
		width: 100%;
	}

	.page-3__w-box:first-child {
		margin-right: 0;
	}

	.scr4__end-bottom {
		flex-direction: column;

	}

	.page-4__bottom-text:nth-child(2) {
		margin-top: 20px;
	}

	.slider__bottom-num {
		font-size: 2.5rem;
	}

	.page-7__arrow {
		display: none;
	}

	.page-7__bottom {
		flex-direction: column;
	}

	.page-7__item {
		margin-top: 20px;
	}

	.form__box {
		flex-direction: column;
	}

	.page-8__fon {
		display: none;
	}

	.form__btn-box {
		justify-content: flex-start;
	}
}



@media screen and (max-width: 480px) {
	.page-4__bottom-icon-text {
		width: 80%;
	}

	html {
		font-size: 12px;
	}

	.slider__bottom-num {
		font-size: 2rem;
	}

	.cont-slide {
		padding:20px;
	}

	.slider__bottom-box {
		margin-right: 0;
	}

	.slider__bottom-img {
		display: none;
	}

	.slider__bottom-box:first-child {
		margin-right: 0;
	}

	input, select {
		width: 100%;
	}
}
