.scr-8 {
  background: url("../img/itog/bg-form.png") center center / cover no-repeat;
  z-index: 2;
}


.page-8-form {
  display: flex;
  justify-content: center;
  background-color: #fff;
  
  align-items: center;
  margin: 8.3125rem auto;
  position: relative;
  z-index: 5;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);


  padding: 4.6rem 8.1rem 4rem 12.5rem;
}
.form {
  position: relative;
  z-index: 5;
}
.layers {
  display: flex;
  flex-direction: column;
}
.form__box {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: relative;
}

.form__title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.6rem;

  padding-bottom: 2.6rem;
}
.form__row {
  padding-bottom: 1.5rem;
}

.conf {
  font-size: 12px;
  line-height: 1.1rem;
}
.form__conf {
  color: #000;
  transition: 0.25s linear;
}
.form__conf:hover {
  color: #651FFF;
}

.form__btn-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5rem;
}
.form__btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  
  color: #fff;
  
  background: #000;
  border: none;
  
  border-radius: 6px;
  padding: 0.9rem 1.75rem 0.9rem 2.3rem;
  
  position: relative;
  width: 12.43rem;
  height: 3.75rem;
  text-decoration: none;
  box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
  
  outline: none;
  cursor: pointer;

}
.form__btn:after, .btn-buy:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
  position: absolute;
  
}
.form__btn:after {
	border-color: rgba(136, 183, 213, 0);
	
	
	border-top: 1.8rem solid transparent;
	border-left: 0.9rem solid #000;
  border-bottom: 1.8rem solid transparent;
  margin-top: -1.8rem;
  margin-left: -0.18rem;
  border-radius: 6px;
  transition: 0.5s linear;
  
}
.form__btn:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #153a65;
	border-width: 1.75rem;
  margin-top: -1.75rem;
  border-radius: 6px;
}

.form__btn:hover {
  color:#651FFF;
  background-color: #c5c2c2;
}
.form__btn:hover::after {
  border-left: 0.9rem solid  #c5c2c2;
  transition: 0.5s linear;
  
}
.form__btn:active,
.form__conf:active {
  color: #FF5900;
  transition: 0.25s;
}
input, select {
  border: none;
  border-bottom: 1px solid#979797;
  width: 306px;
}

.form__row-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
input,
select {
  outline:none;
  background-color: rgba(0, 0, 0, 0);
}

input:focus {
  border: none;
  border-bottom: 2px solid #651FFF;
 
}

input:focus + .form__row-text:focus {
  color: #651FFF;
}

.form__place::-webkit-input-placeholder { color:#000; }

.page-8__fon {
  position: absolute;
  z-index: 1;

  top: 1.5rem;
  left: 8.3125rem;
}