.scr-3 {
  background-color: #7224EA;
  overflow: hidden;
}

.scr-3__box {
  margin: 4rem 0 5rem 0;
  z-index: 5;
}
.scr-3__title {
  color: #FFFFFF;

  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  padding-bottom: 5rem;
}
.scr-3__box-top, .scr-3__box-bottom {
  display: flex;
  flex-wrap: wrap;
  
}
.scr-3__box-top {
  margin-bottom: 2.8rem;
}
.scr-3__box-bottom {
  margin-bottom: 3.8rem;
}
.scr-3__w-box:first-child {
  margin-right: 1.3rem;
}

.scr-3__text {
  font-size: 1rem;
  line-height: 1.25rem;
}


.scr-3__w-box {
  width: 23.29rem;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14),
  0px 16px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  padding: 2.25rem;
  margin-bottom: 1.25rem;
  
  
}
.scr-3__w-box:hover {
  background-color:  #FF5900;
  
}
.w-box-i1 {
  padding: 2.37rem 2.25rem 2.25rem 2.25rem;
}
.page-3__btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #fff;
  background: #FF5900;
  border: none;
  border-radius: 6px;
  padding: 0.93rem 1.75rem 0.93rem 2.3rem;
  position: relative;
  width: 18.6rem;
  height: 3.75rem;
  text-decoration: none;
  box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
  cursor: pointer;

}
.page-3__btn:after, .btn-buy:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
  position: absolute;
  
}
.page-3__btn:after {
	border-color: rgba(136, 183, 213, 0);
	border-top: 1.8rem solid transparent;
	border-left: 1.25rem solid #FF5900;
  border-bottom: 1.8rem solid transparent;
  margin-top: -1.8rem;
  margin-left: -0.18rem;
  border-radius: 6px;
  transition: 0.5s linear;
}
.page-3__btn:before {
	border-color: rgba(194, 225, 245, 0);
	
	border-width: 1.75rem;
  margin-top: -1.75rem;
  border-radius: 6px;
}

.page-3__btn:hover {
  color: #000;
}
.page-3__btn:hover {
  background-color: #fff;
  color: #651FFF;
  transition: 0.5s linear;
}
.page-3__btn:hover::after {
	border-left: 1.25rem solid #fff; 
  transition: 0.5s linear;
}

.page-3__fon {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -12.5rem;

}

.icon-1 {
  margin-right: 1.75rem;
}

.icon-2, .icon-3, .icon-4 {
  margin-right: 1.25rem;
}

.container {
  width: 100%;
  max-width: 76rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;

}