p {
  margin: 0;
  padding: 0;
}
.scr-2 {
  font-family: inherit;
  color: #000;
}
.container-scr2 {
  display: flex;
  justify-content: center;
  margin-top: 6.37rem;
  flex-wrap: wrap;
  
  
}
.scr-2__left-block {
  margin-right: 7.37rem;
  position: relative;
  border-right: 1px solid #000;
  padding-bottom: 4.75rem;
}
.scr-2__left-text {
  margin-top: 3.3rem;
  padding-left: 0.6rem;
  

}
.scr-2__left-text p {
  font-size: 1.12rem;
  line-height: 1.75rem;
  
}
.scr-2__right-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.75rem;
}


.page-2__mark-text {
  color: #fff;
  padding: 0.6rem 1.7rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
  background: url("../img/p-2-mark.png") no-repeat ;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.scr-2__mark-left {
  position: absolute;
  padding: 0.6rem 1.5rem;
  left: -5.5rem;
 }
.scr-2__right-text-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0.93rem;
  padding-left: 11rem;
}
.page-2__right p {
  font-size: 0.8rem;
  line-height: 1.25rem;
}


.scr-2__right-top, .scr-2__right-bottom {
  display: flex;
  align-items: center;
}
.scr-2__right-bottom {
  margin-top: 4.6rem;
}
.scr-2__right-img {
  
  margin-right: 2.75rem;
  position: relative;
}

.scr-2__num {

  position: absolute;
  top: -1.85rem;
  right: -0.5rem;
  font-weight: bold;
  font-size: 140px;
  color: #000;
  
}

.scr-2__number {
  position: absolute;
  top: 1.25rem;
  left: 0;
}

.screen2__tag {
  color: #fff;
  padding: 0.62rem 1.75rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
  background: url("../img/itog/p-2-bg.png") no-repeat ;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}