.steps {
  padding-left: 20px;
}

.scr-7 {
  background-color: #651FFF;
  color: #fff;
}
.container-7 {
  padding-top: 3rem;
  padding-bottom: 5rem;

}
.page-7__top {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;

  margin-bottom: 3.75rem;
}

.page-7__bottom {
  display: flex;
  flex-wrap: wrap;
  
}

.page-7__item {
  display: flex;
  align-items: center;
}

.page-7__item:nth-child(-n+3) {
  padding-right: 1.8rem;
}

.page-7__icon {
  position: relative;
  padding-right: 1.1rem;
}
.page-7__img {
  top: 7px;
  left: 7px;
  position: absolute;
}

.page-7__text-arrow {
  display: flex;
  align-items: center;
  
}
.page-7__arrow {
  padding-left: 1.5rem;
}
.page-7__text {
  font-size: 1rem;
  line-height: 1.1rem;
  
}
