.page-6 {
  color: #000;
  
}
.container-6 {
  position: relative;
}
p {
  margin: 0;
  padding: 0;
}


.slider__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 4.4rem;
  margin-bottom: 4.3rem;
  z-index: 5;
}
.sim-slider-list {
  position: relative;
}
.slider__mark {
  position: absolute;
  top: 15rem;
  left: 4.1rem;
  z-index: 5;
}
.slider__pack {
  position: absolute;
  right: 4.5rem;
  z-index: -1;
}

.sim-slider-element,
.slider-element {
  z-index: 4;
  padding: 3.4rem 2.5rem 3rem 6.3rem;
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.slider__left {
  margin-right: 6.6rem;
  /*
  */
  
  
}
.slider__top {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 4.1rem;
}

.slider__top p {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.6rem;
  margin-bottom: 1rem;
}


.slider__bottom {
  display: flex;
  flex-wrap: wrap;
}
.slider__bottom-box {
  display: flex;
  align-items: center;
}
.slider__bottom-box:first-child {
  margin-right: 3.6rem;
}
.slider__bottom-img {
  margin-right: 1.25rem;
}
.slider__bottom-num {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.slider__bottom-text {
  font-size: 1rem;
  line-height: 1.1rem;
}

.cont-slide {
  z-index: 5;
  padding: 3.4rem 2.5rem 3rem 6.3rem;
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
}