

.process {
  border-bottom: 2px solid #000;
  min-height: 47.8rem;

}

.page-5__icon-text {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
}
.page-5__text.end {
  text-align: end;
}
.page-5 {
  height: 47.8125rem;
  border: 1px solid #000;
  position: relative;
  z-index: 5;
  color: #000;
}
.fon-5 {
  position: absolute;
  
  top: 11rem;
  right: 24.1rem;
  display: flex;
}
.fon-5 img {
  width: 100%;
}
.page-5__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;

  margin-top: 4.3rem;
  margin-bottom: 3.25rem;

}

.p-5-num-1 {
  right: 52.1rem;
  top: 33.6rem;
  
}
.page-5__icon.p-5-num-1 {
  margin-left: 1rem;
}
.p-5-num-2 {
  right: 51.8rem;
  top: 16.1rem;
  
}
.page-5__icon.p-5-num-2 {
  margin-left: 1.3rem;
}

.p-5-num-3 {
  right: 9.6rem;
  z-index: 5;
  
}
.page-5__icon.p-5-num-3 {
  margin-right: 2.5rem;
  
}
.p-5-num-4 {
  right: 4.5rem;
  top: 25.3rem;
  
}
.page-5__icon.p-5-num-4 {
  margin-right: 1rem;
}


.page-5__dots-2 {
  display: none;
}