ul {
  margin: 0;
  padding-left: 0.93rem;
}
.c-page-4 {
  margin-top: 5.25rem;
  margin-bottom: 6.25rem;

  
}
.scr4__main {
  justify-content: center;
  padding-top: 84px;
}
.scr-4__box {
  display: flex;
  
  justify-content: center;
  
  
}

.scr-4__title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.62rem;

  margin-bottom: 5.1rem;
}

.scr-4__left {
  margin-right: 3.1rem;
  border-right: 1px solid #000;
  padding-bottom: 5.75rem;
}
.scr-4__left-top, .scr-4__left-middle {
  margin-left: 1.87rem;
}
.scr-4__left-top {
  color: #fff;
  background: url(../img/itog/l-bg.png) no-repeat;
  padding: 0.62rem 1.87rem;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.scr-4__right-top {
  color: #fff;
  background: url(../img/itog/r-bg.png) no-repeat;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.scr-4__list {
  list-style-image: url(../img/itog/list-mark.png);
}
.scr-4__li {
  padding-left: 1rem;
}
.scr-4__left-middle {
  margin-top: 2.8rem;
  margin-bottom: 3.6rem;
}

.scr-4__left-middle li {
  margin-bottom: 2.25rem;
  font-size: 0.87rem;
  line-height: 1.25rem;
}

.scr-4__right {
  padding-bottom: 5.7rem;
}
.scr-4__right-middle {
  margin-top: 2.6rem;
  margin-bottom: 3.1rem;
  display: flex;
  flex-wrap: wrap;
}
.scr-4__right-text-icon {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;

  
}
.scr-4__middle-l .scr-4__right-text-icon {
  padding-right: 2.9rem;

}


.scr-4__middle-icon {
  padding-right: 0.75rem;
}

.scr-4__right-bottom {
  display: flex;
  margin-bottom: 3.75rem;
}
.scr-4__right-bottom-text {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-left: 1.25rem;
}

.page-4__btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: #fff;
  
  background: #000;
  border: none;
  
  border-radius: 6px;
  padding: 0.9rem 1.75rem 0.9rem 1.75rem;
  
  position: relative;
  width: 20.37rem;
  height: 3.75rem;
  text-decoration: none;
  box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
  
  cursor: pointer;

}
.page-4__btn:after, .btn-buy:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
  position: absolute;
  
}
.page-4__btn:after {
	border-color: rgba(136, 183, 213, 0);
	
	
	border-top: 1.8rem solid transparent;
	border-left: 1.25rem solid #000;
  border-bottom: 1.8rem solid transparent;
  margin-top: -1.8rem;
  margin-left: -0.18rem;
  border-radius: 6px;
  transition: 0.5s linear;
}
.page-4__btn:before {
	border-color: rgba(194, 225, 245, 0);
	
	border-width: 1.75rem;
  margin-top: -1.75rem;
  border-radius: 6px;
}


.page-4__btn:hover {
  background-color: #FDBF0F;
  color: #000;
  transition: 0.5s linear;
}
.page-4__btn:hover::after {
	border-left: 1.25rem solid #FDBF0F; 
  transition: 0.5s linear;
}





.scr4__end {
  background-color: #7224EA;
  color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
}
.scr4__end-top {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.8rem;

  margin-top: 3.6rem;
  margin-bottom: 3.1rem;
  margin-left: 1.3rem;
}
.scr4__end-bottom {
  display: flex;

  margin-bottom: 3.8rem;
  margin-left: 1.25rem;
}




.scr-4__bottom-icon-text {
  display: flex;
  align-items: center;
  
}

.scr-4__bottom-icon-text:first-child {
  margin-right: 13.1rem;
}

.scr-4__bottom-icon {
  margin-right: 1.25rem;
  position: relative;
}
.page-4__f-home {
  position: absolute;
  top: 27px;
  left: 24px;
}
.page-4__f-zavod {
  position: absolute;
  top: 25px;
  left: 25px;
}
.scr-4__bottom-text {
  font-size: 0.87rem;
  line-height: 1rem;
}
.scr-4__bottom-text p {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding-bottom: 0.8rem;
}