html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *::after , *::before {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

.hamburger-menu {
  display: none;
}


.header {
	width: 100%;
	position: relative;
	background: url(../img/itog/bg-fs.png) center center / cover no-repeat;
/*  padding-bottom: 20px;*/
/*  min-height: 100vh;*/
padding-bottom: 10.37rem;
  overflow: hidden;
} 

.wrapper {
	max-width: 1220px;
	margin: 0 auto;
	display: flex;
  	flex-direction: column;
  	position: relative;
    z-index: 10;
    padding: 0 20px;
 
}




#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none; 
  align-items: center; 
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 66;
}


.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}


.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;

  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  z-index: 55;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}




.site-header__top-bar {
    padding: 20px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.logotype {
    text-decoration: none;
    font-weight: 900;
    color: #000;
    font-size: 3rem;
    font-family: "Roboto Condensed";
}

.menu {
    width: 73.5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top:0.4rem;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-list li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;  font-family: 'Roboto Condensed', sans-serif;
}

.site-header__bottom-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.site-header-bottom-bar__container {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.site-header-bottom__adr {
  position: relative;
  font-size: 0.875rem;
  padding-left: 1.43rem;
}

.site-header-bottom__adr:before {
    content: " ";
    width: 25px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/itog/location.png");
    position: absolute;
    left: -20px;
}

.site-header-bottom__contacts-phone {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  padding-left: 2.2rem;
}

.site-header-bottom__contacts-phone:before {
  content: " ";
    width: 25px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/itog/phone_bluetooth_speaker_24px.png");
    position: absolute;
    left: -3px;
}

.site-header-bottom__contacts-mail {
 display: block;
  text-decoration: none;
  color: #000; 
  margin-top:5px; 
  font-size: 0.875rem;
  padding-left: 2.2rem;
}

.site-header-bottom__btn {
  padding-right:0.62rem;
}

.site-header-bottom__call-back {
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.3rem;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    padding: 0.55rem 1.31rem;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
    width: 11.125rem;

    border: none;
    cursor: pointer;
}

.site-header-bottom__call-back:after {
  left: 100%;
    top: 33%;
    border: solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border-top: 1.8rem solid transparent;
    border-left: 0.93rem solid #000;
    border-bottom: 1.9rem solid transparent;
    margin-top: -1.25rem;
    margin-left: -0.18rem;
    border-radius: 0.37rem;

}

.fs-description-block__fs-title {
     text-align: right;
    color: #fff;
    font-size: 3.37rem;
    line-height: 3.93rem;
    font-weight: bold;
    padding-right: 1.8rem;
}

.fs-description-block {
  margin-top: 93px;
  width: 40%;
  display: flex;
  flex-flow: column wrap;
}


.fs-description-block__logo {
  text-align: right;
  margin-top: -0.8rem;
  padding-right: 0.7rem;
}

.fs-description-block__desc {
  font-size: 1.37rem;
    line-height: 1.6rem;
    margin: 0.5rem 0 1.87rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 26px;
}

.background-img-container {
  max-width: 100%;
    z-index: 1;position: absolute;
    bottom: 0;
    left: 17.5rem;
}

.background-img-container img {
  position: relative;
    left: -250px;
    top: 10px;
}

.background-img-container2 {
  display: inline-block;
    overflow: hidden;
        position: absolute;
     bottom: -0.2rem;
    left: 13.5rem;
    z-index: 2;max-width: 100%;
    z-index: 1;
     max-width: 80%;
}

.background-img-container2 img {
  max-width: 100%;
}

.site-header-bottom--style-fx {
  width: 16.25rem;
  text-align: center;
  display: inline-block;
  line-height: 1.75rem;
  padding: 0.9rem 1.75rem 0.9rem 2.37rem;
}

.gradient {
  position: absolute;
  width: 120rem;
  height: 40rem;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 60%);
  left: 0;
  top: 0;
  z-index: 3;
  
}

.site-header-bottom__call-back--small-arr {
     font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.3rem;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    padding: 0.55rem 1.31rem;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
    width: 11.125rem;

    border: none;
    cursor: pointer;
}

.site-header-bottom__call-back--small-arr:after {
    left: 100%;
    top: 33%;
    border: solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border-top: 1.3rem solid transparent;
    border-left: 0.93rem solid #000;
    border-bottom: 1.3rem solid transparent;
    margin-top: -0.9rem;
    margin-left: -0.18rem;
    border-radius: 0.37rem;
}

.fon-img {
  width: 100%;
}



